// Mapa de colores
$colors: (
  color1: #003C43,
  color2: #135D66,
  color3: #77B0AA,
  color4: #E3FEF7,
  highlight: #007bff,
  text-gray: #666,
  text-dark: black,
  text-shadow: rgba(0, 0, 0, 0.3),
  shadow-light: rgba(0, 0, 0, 0.1),
  shadow-dark: rgba(0, 0, 0, 0.3),
);
